button {
  height: 56px;
  width: 149px;
  left: 0px;
  top: 212px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #008b57;
}

.disabled {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 149px;
  height: 56px;
  left: 0px;
  top: 212px;

  /* Blacks & Greys/mediumGray2 */

  background: #8c9cad;
  /* Brand Colors/Primary */

  border: 1px solid #008b57;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 32px 0px;
}

.active {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 149px;
  height: 56px;
  left: 0px;
  top: 212px;

  /* Brand Colors/stoneGreen */

  background: #00ab63;
  /* Brand Colors/Primary */

  border: 1px solid #008b57;
  box-sizing: border-box;
  /* dp-shadow/small */

  box-shadow: 0px 8px 4px rgba(13, 17, 27, 0.08);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 32px 0px;
}
